{% extends "site_students/homepageStudent.html.twig" %}

{% block main_content %}
    <div class="content-wrapper">
        <section class="content-header">
            <img src="{{ asset("bundles/dist/img/6b.png")}}" >
        </section>
    </div>
{% endblock %}
